.nav{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.nav-left,
.nav-right{
    padding: 0% 2%;
    cursor: pointer;
    font-size: 32px;
}
.nav-right:hover{
   color: rgb(126, 195, 255);
}
.create-content{
    text-align: center;
}
.cr-content-title{
    font-size: 85px;
    margin-bottom: 10px;
}
.cr-btn{
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    border: none;
    cursor: pointer;
}